{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duo Wrap Friend Invite</title>
    <link rel="stylesheet" href="{% static 'custom/custom.css' %}">
    <!--<script src='{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}'></script>-->
</head>
<body>
<br>

<div class="container">
<br>
    <ul class="invite_list">
        {% for invite in invite_set %}
            <li>
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{ invite.sender.username }} is requesting to make a Duo Wrap with you called {{ invite.wrap_name }}.

                    <button onclick="window.location.href='{% url 'act_on_friend_request' invite.id 'true' %}'" class="btn btn-sm btn-secondary">Accept</button>
                    <button onclick="window.location.href='{% url 'act_on_friend_request' invite.id 'false' %}'" class="btn btn-sm btn-primary" data-bs-dismiss="alert"> Deny</button>

                </div>

            </li>
            {% empty %}
            <p class="text-center">You have no pending invites</p>
        {% endfor %}
    </ul>

<br>
<div class="row justify-content-center">
    <div class="col col-6">
        <div class="card shadow-lg">
            <div class="card-header text-center">Send a Duo Wrap invite</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Send Friend Invite</button>
                </form>
                
                <button onclick="window.location.href='{% url 'main_menu' %}'" class="btn btn-secondary">Back to Main Menu</button>
                <br><br>
                <div>
                    The Duo Wrap will appear in your list of saved wraps on the main menu once your friend accepts the invite.
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
