<!-- user/templates/login.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'custom/custom.css' %}">
</head>
<body>



<div class="container mt-5">
    <br><br><br><br><br>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <!-- error messages-->
                        {{ loginform.non_field_errors }}

                        <!-- Username Field -->
                        <label for="{{ loginform.username.id_for_label }}" class="label">Username</label>
                        {{ loginform.username }}
                        {{ loginform.username.errors }}

                        <!-- Password Field -->
                        <label for="{{ loginform.password.id_for_label }}" class="label">Password</label>
                        {{ loginform.password }}
                        {{ loginform.password.errors }}

                        <!-- Login Button -->
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>

                    <!-- Register Button -->
                    <div class="d-grid gap-2 mt-3">
                        <a href="{% url 'user:register' %}" class="btn btn-secondary">Register</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>